<div *ngIf="location">
    <h2> Location details</h2>
    <div><span>Time measured: </span>{{location.timeMeasuredString}}</div>
    <div><span>Latitude: </span>{{location.latitude}}</div>
    <div><span>Longitude: </span>{{location.longitude}}</div>
    <div><span>Altitude: </span>{{location.altitude}}</div>
    <div><span>Horizontal accuracy: </span>{{location.horizontalAccuracy}}</div>
    <div><span>Vertical accuracy: </span>{{location.verticalAccuracy}}</div>
    <div><span>Time checked: </span>{{location.timeCheckedString}}</div>  
</div>
