/* LocationsComponent's private CSS styles */
.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .locations {
    margin: 0 0 1em 0;
    list-style-type: none;
    padding: 0;
  }
  .locations li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .1em;
    padding: .1em;
    height: 2em;
    width: 30em;
    border-radius: 4px;
    white-space: nowrap;
  }
  .locations li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .locations li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .locations .text {
    position: relative;
    top: -3px;
  }
  .locations .badge {
    display: block;
    font-size: small;
    color: white;
    padding: 0.1em 0.1em 0.1em 0.1em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -1px;
    height: 1.8em;
    border-radius: 4px 0 0 4px;
    white-space: nowrap;
  }
  
  